* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    margin: 30px 0;
    text-align: center;
}

header img {
    max-width: 300px;
}

section {
    display: flex;
}

section input {
    flex-grow: 1;
    height: 35px;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
}

button {
    padding: 0 30px;
    font-size: 14px;
    background-color: cadetblue;
    border-radius: 20px;
}

button:hover, button:focus {
    background-color: coral;
}

section input:hover, section input:focus {
    background-color: rgba(0, 0, 0, .3);
}

.todo {
    background-color: lightgray;
    border-radius: 15px;
    margin: 10px 0;
    padding: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo:first-child {
    margin-top: 20px;
}

.down-svg {
    position: fixed;
    bottom: 0%;
}

.up-svg {
    position: fixed;
    top: 0%;
}

.do{
    text-decoration: line-through;
    color: coral;
} 

#app {
    z-index: 1;
}

i {
    cursor: pointer;
}

.text {
    cursor: pointer;
}